{% extends 'base.html'%} <!--extends home html to base.html-->

{% block content %} <!--Jinja format -->

<h1>Welcome To The Home Page ,{{name}}!!!!</h1>

<form action="{% url 'add' %}" method="post">
    {% csrf_token %} <!-- Include this if you're using CSRF protection -->
    <!-- Your form fields go here -->
    <label>Enter 1st number</label>
    <input type="text" name="num1"><br>
    <label>Enter 2nd number</label>
    <input type="text" name="num2"><br>
    <input type="submit">


</form>

{% endblock %}